.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.propiedad-container {
  padding: 16px;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.video-container {
  margin-top: 16px;
}
